---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { employee } = Astro.props;
const { img, name, title, description } = employee;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}"
);
if (!images[img])
  throw new Error(
    `"${img}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`
  );
---

<article>
  <div class="image-title">
    <Image src={images[img]()} alt={name} width={100} />
    <p class="employees-title">{title}</p>
  </div>
  <div class="text">
    <h5 class="employees-name">{name}</h5>
    <p class="employees-content">{description}</p>
  </div>
</article>

<style>
    @layer components {
      article {
        display: grid;
        gap: 25px;
        
        .image-title {
          position: relative;
          img {
            border-radius: 20px;
          }
        
        
      }
      &:first-child  .employees-title {
          background: var(--primary-color);
          color: var(--tertiary-color);
        }
      .employees-title {
        padding: 4px 20px;
        position: absolute;
        background: var(--tertiary-color);
        border-radius: 100px;
        bottom: 20px;
        right: 20px;
        color: var(--white-color);
        }
      .text {
        text-align: center;
        display: grid;
        gap: 8px;
  
      }
    }
  }
</style>