---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components'
const { employee } = Astro.props;
const { img, name, title, description, some_icon } = employee;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}"
);
if (!images[img])
  throw new Error(
    `"${img}" does not exist in glob: "public/images/*.{jpeg,jpg,png,gif}"`
  );
---

<article>
  <div class="image-title">
    <Image src={images[img]()} alt={name} width={100} />
    <p class="employees-title">{title}</p>
  </div>
  <div class="text">
    <h5 class="employees-name">{name}</h5>
    <p class="employees-content">{description}</p>
  </div>
  <div class="some_icons">
    <img src="public/icons/instagram.svg" alt="Instagram logo">
    <img src="public/icons/facebook.svg" alt="Facebook logo">
    <img src="public/icons/twitter.svg" alt="Twitter logo">

  
  </div>

</article>

<style>
    @layer components {
      article {
        display: grid;
        gap: 25px;
        
        .image-title {
          position: relative;
          cursor: pointer;
          img {
            border-radius: 20px;
          }
      }
      .employees-title {
        padding: 4px 20px;
        position: absolute;
        background: var(--tertiary-color);
        border-radius: 100px;
        bottom: 20px;
        right: 20px;
        color: var(--white-color);
        }


        &:hover .employees-title {
          background: var(--primary-color);
          color: var(--tertiary-color);
          transition: all 0.5s ease-in-out;
          cursor: pointer;
        }

      .text {
        text-align: center;
        display: grid;
        gap: 8px;
  
      }
      .some_icons {
        display: flex;
        gap: 2rem;
        margin: 0 auto;
        cursor: pointer; 
        svg {
          width: 24px;
        }
      }

      
    }
  }
</style>